body {
	background-color: #cfc;
	font-family: Arial, Helvetica, sans-serif;
}

li {
	list-style: none;
	cursor: default;
}

li:hover {
	background-color: #ffffdd;
}

.me {
	font-weight: bold;
	color: #070;
}

.user {
	color: #7a7;
}

.selected, li.selected:hover {
	background-color: #228822;
	color: white;
}

#container {
	position: relative;
	width: 800px;
	margin: 0 auto;
	padding-top: 25px;
}

#main {
	min-width: 600px;
	height: 250px;
	font-size: 12px;
}

#users {
	padding: 5px;
	width: 140px;
	background-color: #fff;
	color: #333;
	border: 1px solid gray;
	height: 100%;
	float: right;
}

#chat {
	padding: 5px;
	margin: 0;
	height: 100%;
	min-width: 400px;
	border: 1px solid gray;
	overflow-y: scroll;
	background-color: white;
}

#chat li .user {
	color: green;
}

#command {
	bottom: 0;
}

#prompt {
	margin-top: 20px;
	min-width: 400px;
	height: 30px;
	padding-left: 5px;
}

#send {
	height: 30px;
	width: 50px;
}

#panel {
	height: 60px;
	margin: 0 auto;
	width: 98%;
	top: 0;
	padding: 10px;
}

#togglepanel {
	position: absolute;
	top: 0;
	right: 5px;
}
